<%- include('./alert/header'); -%>
<nav class="navbar">
    <div class="navbar__block">
        <div class="navbar__block-item">
            <ul class="navbar-list__container">
            </ul>
            <div class="navbar__icons">
                <div class="nav-icons__container">
                    <div class="icon-item__block" >
                        <div class="icon-item close"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="alert-main__block">
    <h1 id="message"></h1>
</div>
<%- include('./alert/footer'); -%>