</body>
</html>
<!--<script>window.$ = window.jQuery = require('./../static/js/jquery.min.js');</script>-->
<script src="./../static/js/vue.js"></script>
<script src="./../static/js/vue-router.js"></script>
<script src="./../static/js/site.min.js"></script>
<!--<script src="./../static/js/main.js"></script>-->
