<script type="text/x-template" id="siteDeleteForm">
    <div class="modal-body__delete">
        <div class="delete-container">
            <h1>Удалить сайт {Имя сайта}?</h1>
            <div class="delete-btn__container">
                <button class="btn-yes">
                    Да
                </button>
                <button class="btn-no" v-on:click="quit">
                    Нет
                </button>
            </div>
        </div>
    </div>
</script>