<script type="text/x-template" id="main">
    <div class="main">
        <div class="main__container">
            <div class="create-site">
                <div class="create-site__container">
                    <label class="create-site__label">Название:</label>
                    <input type="text" class="create-site__input site_name" v-model="create.input">
                    <button class="create-site__btn" v-on:click="createSite">
                        Создать сайт
                    </button>
                </div>
            </div>
            <div class="site-list">
                <div class="site-list__container">
                    <h2 class="site-list__header">Список сайтов:</h2>
                    <div class="site-list__items">
                        <div class="site-list__items-container">


                            <div class="site-item" v-for="site in sites">
                                <h3 class="site-item__name">
                                    {{ site }}
                                </h3>
                                <div class="site-item__btn-container">
                                    <button class="site-item__change site__btn" v-on:click="changeSiteModal(site)">Изменить
                                    </button>
                                    <!--<button class="site-item__delete site__btn" v-on:click="deleteSiteModal(site)">Удалить-->
                                    <!--</button>-->
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="config-list">
                <div class="config-list__container">
                    <h2 class="config-list__header">Перезагрузка модулей сервера</h2>
                    <div class="config">
                        <div class="config__container">

                            <div class="config-item">
                                <button class="other__btn" v-on:click="reloadApache2">
                                    Перезагрузить apache2
                                </button>
                            </div>
                            <div class="config-item">
                                <button class="other__btn" v-on:click="reloadNginx">
                                    Перезагрузить nginx
                                </button>
                            </div>
                            <div class="config-item">
                                <button class="other__btn" v-on:click="reloadMysql">
                                    Перезагрузить mysql
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" :class="{'modal-hidden' : modalClose}">
            <div class="modal__block">
                <div class="modal-layer" v-on:click="modalClose = !modalClose"></div>
                <div class="modal-item">
                    <div class="modal--header">
                        <h1 class="modal--header__text">

                        </h1>
                        <div class="square-container">
                            <div class="square">
                                <div class="square-item" v-on:click="modalClose = !modalClose">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal--body">
                        <component v-on:quit="modalClose = !modalClose" v-bind:siteName="chooseSite" v-bind:is="currentModal"></component>
                    </div>
                    <div class="modal--footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>