<nav class="navbar">
    <div class="navbar__block">
        <div class="navbar__block-item">
            <ul class="navbar-list__container">
                <router-link to="/"><li class="navbar-list__item">Главная</li></router-link>
                <router-link to="/options"><li class="navbar-list__item">Опции</li></router-link>
            </ul>
            <div class="navbar__icons">
                <div class="nav-icons__container">
                    <div class="icon-item__block" v-on:click="turnAppWindow">
                        <div class="icon-item turn" ></div>
                    </div>
                    <div class="icon-item__block" v-on:click="fullResizeWindow">
                        <div class="icon-item resize" ></div>
                    </div>
                    <div class="icon-item__block" v-on:click="closeApp">
                        <div class="icon-item close"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>