<script type="text/x-template" id="options">
    <div class="options">
        <div class="options__container">
            <div class="options-presets">
                <div class="options-presets__container">
                    <div class="presets-list">
                        <div class="presets-list__label">
                            <h3 class="label">
                                Список пресетов:
                            </h3>
                        </div>
                        <div class="preset-list__items">

                            <presets-btn v-for="conf in configs" v-bind:item="conf" v-on:select="selectPreset"></presets-btn>

                        </div>
                    </div>
                    <div class="new-preset">
                        <div class="new-preset__container">
                            <div class="new-preset__item">
                                <a href="javascript:void(0)" class="item-link" v-on:click="createSiteConfig">
                                    <svg class="icon-svg">
                                        <use xlink:href="./../static/img/svg/sprite.svg#plus">
                                        </use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="options-data">
                <div class="options-data__container">
                    <div class="options-data__inputs">
                        <div class="input__option-container">
                            <label for="presetName">Название пресета:</label>
                            <input id="presetName" type="text" class="input__option" v-model="configFields.name">
                        </div>
                        <div class="input__option-container">
                            <label for="sitePath">Путь до директории с сайтами:</label>
                            <input id="sitePath" type="text" class="input__option" v-model="configFields.sitePath">
                        </div>
                        <div class="input__option-container">
                            <label for="apache2path">Путь до директории с apache2:</label>
                            <input id="apache2path" type="text" class="input__option" v-model="configFields.apache2Path">
                        </div>
                        <div class="input__option-container">
                            <label for="nginxPath">Путь до директории с nginx:</label>
                            <input id="nginxPath" type="text" class="input__option" v-model="configFields.nginxPath">
                        </div>
                        <div class="input__option-container">
                            <label for="logsDirectory">Путь до директории с логами:</label>
                            <input id="logsDirectory" type="text" class="input__option" v-model="configFields.logsDirectory">
                        </div>
                        <div class="input__option-container">
                            <label for="RootAndGroup">Владелец/Группа для директории с сайтами:</label>
                            <input id="RootAndGroup" type="text" class="input__option" v-model="configFields.rootAndGroup">
                        </div>
                    </div>
                    <div class="options-data__inputs-right">
                        <div class="textarea__container">
                            <label for="apache2__template">Шаблон конфига apache2:</label>
                            <textarea id="apache2__template" name="" cols="50" rows="20" class="textarea__option" v-model="configFields.apache2Template">
                                <plaintext>

                            </textarea>
                        </div>
                        <div class="textarea__container">
                            <label for="nginx__template">Шаблон конфига nginx:</label>
                            <textarea id="nginx__template" name="" cols="50" rows="20" class="textarea__option" v-model="configFields.nginxTemplate">
                                <plaintext>

                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="options-submit">
                <div class="options-submit__container">
                    <div class="submit">
                        <button class="submit-option" v-on:click="setActiveSiteConfig">
                            Выбрать
                        </button>
                    </div>
                    <div class="submit">
                        <button class="submit-option" v-on:click="saveSiteConfig">
                            Сохранить
                        </button>
                    </div>
                    <div class="submit">
                        <button class="submit-option" v-on:click="deleteSiteConfig">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>